@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--pale-blue);
  background-image: url("./assets/images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.container {
  background-color: #ffffff;
  background-image: url("./assets/images/illustration-hero.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 1.5rem;
  max-width: 45.5rem;
  height: 66rem;
  margin: 10.6rem auto;
  position: absolute;
  left: 35%;
}
.container__card h2 {
  color: var(--desaturated-blue);
  text-align: center;
  text-transform: capitalize;
  margin: 3rem 0 0 0;
}
.container__card {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 28%;
  padding: 7rem;
}
.container__card--text {
  text-align: center;
}
.container__card--text h1 {
  color: var(--dark-blue);
  font-size: 2.8rem;
  font-weight: 900;
}
.container__card--text p {
  color: var(--desaturated-blue);
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 1.5rem 0 0 0;
}
.container__price {
  display: flex;
  background-color: var(--very-pale-blue);
  border-radius: 1rem;
  padding: 2rem;
  margin: 2rem 0 0 0;
  width: 33rem;
}

.container__price--plan {
  margin: 0 0 0 2rem;
}
.container__price--plan h1 {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--dark-blue);
}
.container__price--plan p {
  color: var(--desaturated-blue);
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0.5rem 0 0 0;
}
ul li {
  color: var(--bright-blue);
  font-size: 1.4rem;
  font-weight: 700;
  list-style: none;
  text-transform: capitalize;
  text-decoration: underline;
  margin: 1.2rem 0 0 8rem;
}

.container__btn {
  margin: 3rem 0 0 0;
}
.btn {
  background-color: var(--bright-blue);
  border: none;
  border-radius: 1rem;
  color: #fff;
  font-weight: 900;
  width: 33rem;
  padding: 1.5rem;
  box-shadow: 0 2rem 2rem var(--pale-blue);
}

@media screen and (max-width: 1980px) {
  .container {
    margin: 22rem auto;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    margin: 22rem auto;
  }

  .container {
    margin: 10.6rem auto;
  }
}

@media screen and (max-width: 620px) {
  .container {
    max-width: 45.5rem;
    height: 66rem;
    margin: 10.6rem auto;
    position: absolute;
    left: 10%;
  }
}

@media screen and (max-width: 380px) {
  .container {
    max-width: 37rem;
  }
  .container__card--text h1 {
    font-size: 2.5rem;
  }
  .container__card--text p {
    font-size: 1.53rem;
  }
  .container__price {
    padding: 1rem;
    position: relative;
    right: 20%;
  }

  .btn {
    position: relative;
    right: 20%;
  }
}
